PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('af4dfbe83fc6');
CREATE TABLE courses (
	id INTEGER NOT NULL, 
	title VARCHAR(128) NOT NULL, 
	description TEXT, 
	PRIMARY KEY (id)
);
CREATE TABLE student_courses (
	student_id INTEGER NOT NULL, 
	course_id INTEGER NOT NULL, 
	timestamp DATETIME, 
	PRIMARY KEY (student_id, course_id), 
	FOREIGN KEY(course_id) REFERENCES courses (id), 
	FOREIGN KEY(student_id) REFERENCES users (id)
);
CREATE TABLE assignment (
	id INTEGER NOT NULL, 
	title VARCHAR(100) NOT NULL, 
	deadline DATETIME NOT NULL, 
	user_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE notification (
	id INTEGER NOT NULL, 
	user_id INTEGER, 
	message VARCHAR(200), 
	is_read BOOLEAN, 
	timestamp DATETIME, admin_notification BOOLEAN, notification_type VARCHAR(5), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE IF NOT EXISTS "users" (
	id INTEGER NOT NULL, 
	name VARCHAR(128) NOT NULL, 
	email VARCHAR(128) NOT NULL, 
	password VARCHAR(256) NOT NULL, 
	role VARCHAR(7) NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (email)
);
CREATE TABLE quiz (
	id INTEGER NOT NULL, 
	title VARCHAR(100) NOT NULL, 
	deadline DATETIME NOT NULL, 
	user_id INTEGER, 
	topics VARCHAR(200), 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE IF NOT EXISTS "notification_settings" (
	id INTEGER NOT NULL, 
	student_enabled BOOLEAN, 
	reminder_days INTEGER, 
	reminder_hours INTEGER, 
	admin_enabled BOOLEAN, 
	user_id INTEGER NOT NULL, 
	quiz_reminder_days INTEGER NOT NULL, 
	quiz_reminder_hours INTEGER NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	UNIQUE (user_id)
);
COMMIT;
